.canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
  background: radial-gradient(circle at 50% 45%, rgba(var(--neon-rgb), 0.1), transparent 60%);
  /* Esto evita que el canvas cause scroll */
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
}
