@import './variables.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--dark);
  color: var(--text);
  font-family: 'Segoe UI', sans-serif;
  overflow-x: hidden;
  cursor: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

@media (max-width: 768px) {
  body {
    cursor: auto;
  }
}